<div class="bg" fxFlex fxLayoutAlign="center center">
    <!-- <div class="section1" fxLayout="column" fxLayoutAlign="center center">
        <h1>Welcome to CinemaX - Your Ultimate Movie Experience</h1>
        <p>
            We are thrilled to have you here! CinemaX is your ultimate destination for a unique cinematic adventure.
            With an extensive selection of the latest movie releases, comfortable seating, and state-of-the-art
            technology, we guarantee you an unforgettable movie experience. 
        </p>
        
    </div> -->
    <div class="section2" fxLayout="column" fxLayoutAlign="center center">
        <h1>Cinema App</h1>
        <p>
            Discover the latest movies and book your tickets for an unforgettable cinema experience.
        </p>
    <button routerLink="/movies" mat-raised-button color="primary">MOVIES</button><button routerLink="/signup" mat-raised-button color="primary">JOIN NOW</button>
    </div>
    
</div>