

.bg {
    height: 100vh;
    background-image: url(../../assets/bg/login1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    margin: 3%;
    padding-bottom: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    /* font-size:120px; */
    color: rgba(201, 195, 215, 0.838);
}

p {
    width: 800px;
    letter-spacing: 2px;
    font-size: 20px;
    text-align: center;
    margin: 4%;
}

.section1 {
    margin: 5%;
    background-color:  #7f7c7c29;
    padding: 30px 180px 40px 180px;
   width: auto;
   height: auto;
}

.section2 {
    margin: 5%;
    background-color:  #7f7c7c29;
    padding: 50px 180px 40px 180px;
    width: auto;
    height: auto;
}


button:hover {
    background-color: #5c4d86;
    color: white;
}

button {
    padding: 10px 20px;
    letter-spacing: 1px;
    width: 800px;
}

#movies {
    margin-left: 90%;
}

