<div class="bg" fxFlex>
    <div class="section1" fxLayout="column" fxLayoutAlign="space-evenly start">
        <h1>Welcome to CinemaX - Your Ultimate Movie Experience</h1>
        <p>
            We are thrilled to have you here! CinemaX is your ultimate destination for a unique cinematic adventure.
            With an extensive selection of the latest movie releases, comfortable seating, and state-of-the-art
            technology, we guarantee you an unforgettable movie experience. 
        </p>
        <a routerLink="/movies"><button>MOVIES</button></a>
    </div>
    <div class="section2" fxLayout="column" fxLayoutAlign="space-evenly start">
        <h1>Become a CinemaX member today!</h1>
        <p>
            Are you ready to elevate your movie-watching experience to a whole new level? Join us and indulge in the
            enchantment of films. With CinemaX, booking tickets has never been easier.Whether you're alone, with friends, or with family,
            our doors are always open to welcome you. Don't wait any longer - register now and step into the world of
            extraordinary cinematic adventures with CinemaX!
        </p>
    <a routerLink="/signup"><button>JOIN NOW</button></a>
    </div>
    
</div>