.dialog {
  background-color: rgb(6, 18, 28);
  width: auto;
  height: auto;
  padding: 20px; 
  color: rgb(255, 255, 255); 
  
}

h2 {
  margin-left: 50px; 
  padding:0;
}

.header {
  margin-bottom:0px; 
}

img {
  margin-right: 20px;
}

iframe {
  width: 560px;
  height: 315px;
  margin-left: 10px;
}

.info {
  width: 35%;
}

p {
  color: white;
  letter-spacing: 1px;
}